/* fonts---
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* tags */

body {
  font-family: "Montserrat", sans-serif;

  margin: 0;
  padding: 0;
}

section {
  display: flex;
  margin-top: 64px;
}

input,
textarea {
  width: 80%;
  height: 32px;

  background-color: pink;
  color: #303030;

  border-radius: 16px;
  border: 0px;

  margin: 16px 0;
  padding: 16px;

  font-size: 20px;
  font-weight: 600;
}

button {
  border-radius: 100px;
  border-width: 0;

  width: 200px;
  height: 70px;

  font-size: 18px;
  font-weight: 600;

  padding: 20px 40px;
  margin-top: 50px;

  color: white;
  background-image: linear-gradient(90deg, #fba24f, #ff1e1e);
}

/* layout & design */

.shadow {
  box-shadow: 0px 0px 10px #000000;
}

.highlighted {
  color: coral;

  font-weight: 700;
}

.half {
  width: 50%;
  padding: 64px 128px 0 64px;
}

.half img {
  width: 90%;
}

.half #person {
  width: 50%;
  text-align: center;
  padding: 0 0 0 200px;
}

.top {
  width: 60%;
  margin: auto;
  font-size: 18px;
  text-align: center;
}

.bottom {
  display: flex;
  width: 80%;
  margin: auto;
}

/* cards */
.card {
  width: 350px;
  margin: 64px auto 64px auto;
  padding: 20px;
  border-radius: 30px;

  color: #18191f;
}

.card img {
  width: 98%;
}

.card h2 {
  font-size: 28px;
  line-height: 40px;
}

.card p {
  font-size: 18px;
  line-height: 32px;
}

/* texts */

#top-title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #575757;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: #404040;
  text-transform: capitalize;
}

.description {
  font-weight: 500;
  font-size: 20px;
  color: #606060;
  line-height: 32px;
}

/* Sections */
#recipes {
  display: block;
  padding-top: 32px;
  width: 100%;
}

#customers {
  display: inline;
  padding-top: 32px;
  width: 100%;
}

#customers img {
  width: 50%;
}

#about {
  background-image: url("images/shapes/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#contact {
  background-image: url("images/shapes/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 64px;

  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}



/* stats */

#stats {
  margin: 10%;
  display: flex;
  border-radius: 20px;
}

#stats div {
  padding: 32px 0 64px 0;
  margin: auto;

  display: inline;
}

#stats h3 {
  font-size: 48px;
  color: #18191f;
  margin-bottom: 8px;
}

#stats small {
  color: #18191f;
  font-size: 16px;
}

/* footer */

footer {
  text-align: center;
  padding: 32px 0 120px 0;
  background-color: #0b0d17;
}

footer h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;

  color: #5b5b5b;
}

footer small {
  font-weight: 400;
  font-size: 16px;

  color: white;
}
